<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>310104575188-9hvmc6arb15b3j5ed7sb2u0b74da7e6s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310104575188-9hvmc6arb15b3j5ed7sb2u0b74da7e6s</string>
	<key>API_KEY</key>
	<string>AIzaSyAK9x3bcRwxNCkXlZLW_NpS7K3CxtE5LHo</string>
	<key>GCM_SENDER_ID</key>
	<string>310104575188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smedic.DevSlopesSocial</string>
	<key>PROJECT_ID</key>
	<string>devslopessocial-83dd0</string>
	<key>STORAGE_BUCKET</key>
	<string>devslopessocial-83dd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310104575188:ios:e46f14f692eb1b57</string>
	<key>DATABASE_URL</key>
	<string>https://devslopessocial-83dd0.firebaseio.com</string>
</dict>
</plist>